@model NetMVC.Models.Sanpham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tensanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tensanpham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thuonghieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thuonghieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SanphamID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
