@model BTL.Models.NhaCC

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhaCC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhaCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhaCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSPCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSPCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaThanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaThanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NhaCCID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
