@model IEnumerable<NetMVC.Models.Khachhang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenkhachhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDTkhachang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenkhachhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDTkhachang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KhachhangID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KhachhangID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KhachhangID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
